/* styles_main.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;

}

.row {
    justify-content: center;
}

.card {
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    background-color: #161b22;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body .btn {
    margin-top: auto;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #58a6ff;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* estilos para los botones */
.btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #238636;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 6px;
    text-decoration: none;
}

.btn-primary {
    background-color: #238636;
    border-color: #238636;
}

.btn-danger {
    background-color: #da3633;
    border-color: #da3633;
}

.btn-warning {
    background-color: #d29922;
    border-color: #d29922;
    color: #0d1117;
}

.btn:hover {
    background-color: #2ea043;
    border-color: #2c974b;
}

.btn-primary:hover {
    background-color: #2ea043;
    border-color: #2c974b;
}

.btn-danger:hover {
    background-color: #b62324;
    border-color: #a21e1e;
}

.btn-warning:hover {
    background-color: #bb8009;
    border-color: #9e6a03;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #c9d1d9;
}

/* Estilos para los formularios */
form {
    background-color: #161b22;
    /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 6px;
}

form .form-label {
    color: #58a6ff;
    /* Color del texto de las etiquetas */
}

form .form-control {
    background-color: #0d1117;
    /* Color de fondo de los campos de entrada */
    color: #c9d1d9;
    /* Color del texto de los campos de entrada */
    border: 1px solid #30363d;
    /* Color del borde de los campos de entrada */
}

form .form-control:focus {
    background-color: #0d1117;
    /* Color de fondo de los campos de entrada al enfocarse */
    color: #c9d1d9;
    /* Color del texto de los campos de entrada al enfocarse */
    border-color: #58a6ff;
    /* Color del borde de los campos de entrada al enfocarse */
    box-shadow: 0 0 0 0.2rem rgba(88, 166, 255, 0.25);
    /* Sombra al enfocarse */
}


/* Estilos para el menú */
.navbar {
    background-color: #0d1117;
    /* Fondo del mismo color que el resto del archivo */
    border-bottom: 1px solid #30363d;
}

.navbar-brand {
    color: #58a6ff;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-brand:hover {
    color: #c9d1d9;
}

.navbar-nav .nav-link {
    color: #c9d1d9;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #58a6ff;
}

.navbar-toggler {
    border-color: #30363d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2888, 166, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    justify-content: flex-end;
}

.dropdown-menu {
    background-color: #0d1117;
    /* Fondo del mismo color que el resto del archivo */
    border: 1px solid #30363d;
}

.dropdown-item {
    color: #c9d1d9;
}

.dropdown-item:hover {
    background-color: #30363d;
    color: #58a6ff;
}


/* Estilos para la tabla */
table.table-dark {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2c2c;
    color: #ffffff;
}

table.table-dark th,
table.table-dark td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}

table.table-dark th {
    background-color: #3a3a3a;
}

table.table-dark tr:nth-child(even) {
    background-color: #3a3a3a;
}

table.table-dark tr:hover {
    background-color: #444444;
}

table.table-dark th,
table.table-dark td {
    border: none;
}


/*  Estilos para las tarjetas de películas */
.tarjeta-pelicula {
    max-width: 300px;
    margin: 10px;
}

.tarjeta-pelicula .card-img-container {
    width: 100%;
}

.tarjeta-pelicula .card-img-top {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-top: 10px;
    border-radius: 20px;
}

#contenedor-peliculas {
    margin-bottom: 50px;
}


/* estilos transaccion */
#movieTitle {
    color: #58a6ff;
}

#movieDescription p {
    font-size: 1.2rem;
    color: #c9d1d9;
}

#movieImage img {
    max-width: 100%;
    height: auto;
}

.transaction-form-container {
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.transaction-form-container .form-label {
    color: #58a6ff;
}

.transaction-form-container .form-control,
.transaction-form-container .form-select {
    background-color: #0d1117;
    color: #c9d1d9;
    border: 1px solid #30363d;
    border-radius: 4px;
}

.transaction-form-container .form-control:focus,
.transaction-form-container .form-select:focus {
    background-color: #0d1117;
    color: #c9d1d9;
    border-color: #58a6ff;
    box-shadow: 0 0 0 0.2rem rgba(88, 166, 255, 0.25);
}

.transaction-form-container .btn-primary {
    background-color: #238636;
    border-color: #238636;
}

.transaction-form-container .btn-primary:hover {
    background-color: #2ea043;
    border-color: #2c974b;
}

#movieDescription {
    /* centrar el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}